@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "openSansExtraBold";
    src: url("../public/opensans/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "openSansBold";
    src: url("../public/opensans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "openSansSemiBold";
    src: url("../public/opensans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "openSansMedium";
    src: url("../public/opensans/OpenSans-Medium.ttf");
}

@font-face {
    font-family: "openSansRegular";
    src: url("../public/opensans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "openSansLight";
    src: url("../public/opensans/OpenSans-Light.ttf");
}

html, body, main {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: openSansMedium, sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

.react-flow__node {
    @apply bg-bLight !important;
    @apply border-bPurple !important;
    @apply px-4 !important;
    @apply py-2 !important;
    @apply rounded-xl !important;
    @apply text-bBright !important;
}

.react-flow__handle {
    @apply bg-[black];
    @apply rounded-full;
}

.react-flow__attribution {
    display: none;
}

.react-flow__panel {
    background-color: white !important;
}

.react-flow__node {
    padding: 0 !important
}

.connectable {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectable {
    /*@apply bg-bPurple !important;*/
    color: white !important;
    background-color: white !important;
    @apply border-[1px];
    @apply border-bPurple;
    font-size: 12px;
}

.react-flow__handle-right {
    right: -10px !important;
}

.react-flow__handle-left {
    left: -10px !important;
}

.connectable::after {
    color: black;
    font-weight: bold;
}